* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
}

.wrapper{   
    max-width: 90%;
    margin:auto;
}

.header{
    height: 112px;
    width:100%;
    background-color: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;

}

.header__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.SocialMedia {
    display: flex;
}

header .SocialMedia img{
    height: 35px;
    width: auto;
}
.SocialMedia__item:not(:first-child) {
    padding-left: 30%;

}

header ul li{
    list-style: none; 
}

.menu {
    display: block;
}

.menu img {
    width: 40px;
}

.js-closeMenu{
    background-color:none;
    padding: 3% 4%;
    margin-left: 2%;
    margin-top: 2%;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color:#404A9A;
    font-style: poppins, sans-serif;
    font-weight: 500;
    font-size: 1em;
}



.fondo{
    background-color: #EDEEFA;
    width: 100%;
    padding:0;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#About {
    height: 100%;
}

#About h1{
    font-family: PlayFair Display, sans-serif;
    color: #404A9A;
    font-size: 2.5em;
    padding-top: 45%;   
}
#About h2{
    font-family: Poppins, sans-serif;
    Color:#F6AAB6;
    font-size: 1.3em;
    font-weight: 200;
}
#About p{
    font-family: Poppins, sans-serif;
    color: #404A9A;
    display: none;
}
#About img{
    display:none;
}

#Mejores_Proyectos .proyecto{
    background-color: #EDEEFA;
    border-top: 8px solid #404A9A;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    margin-bottom: 15%;
    display: block;
    box-shadow: 2px 2px 2px 2px;
    color:rgba(0,0,0,0.1);
}

#Mejores_Proyectos h2{
    font-family: poppins, sans-serif;
    color: #404A9A;
    text-align: center;
    font-weight: 700; 
    font-size: 1.5em;
    padding-top: 10%;
    padding-bottom: 10%;

}
#Mejores_Proyectos h3{
    font-family: poppins, sans-serif;
    color: #404A9A;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;  
    padding: 2% 5%;
    text-align: center;   
}
#Mejores_Proyectos h4{
    font-family: poppins, sans-serif;
    color: #404A9A;
    font-weight: 400;
    font-size: 1.2;
    padding: 2% 5%;
    text-align: center;
}
#Mejores_Proyectos p{
    font-family: poppins, sans-serif;
    color: #404A9A;
    font-size: 1em;
    font-weight: 100;
    padding: 2% 5%;
    display:none;
}
.celular__proyectos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


img .button{
    margin: auto;
    width: 10px;
}
.button_holder{
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}


/*FOOTER*/
#footer{
    border-top: 1px solid #404A9A;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#footer img{
    padding-left: 5%;

}

/*CASE STUDY SPACE TRAVEL*/

.wrapper__logo .logo__trabajos{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
}
.Introduccion{
    WIDTH: 100%;
    position: relative;
}

.Introduccion__content {
    background: url(IMG/Banner_SpaceTravel.png) no-repeat center center;
    background-size: cover;
    min-height: 800px;
}

.Introduccion h1{
    font-family: poppins, sans-serif;
    font-size: 1.5em;
    color: #F79439;
    font-weight: 700;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

}
.Introduccion h2{
    font-family: poppins, sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.Introduccion img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20%;
}

#informacion p{
    font-family: poppins, sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #404A9A;
    padding-top: 10%;    
}

.fondo_celeste{
    background-color: #EDEEFA;
    margin-bottom:20%;
}


.wireframes__celular{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
}
.fondo_celeste h2{
    font-family: poppins, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    color: #404A9A;
    padding-top: 10%;
}

.Desktop img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 20%;
}
.boton_VerMas{
    text-align: center;
    padding-bottom: 20%;
}
.boton_VerMas a{
    text-decoration: none;
    font-family: poppins, sans-serif;
    color: #404A9A;
    font-weight: 500;
    background-color: #EDEEFA;
    padding:4% 10% 4% 10%;
    border: 1px solid #404A9A;
    border-radius: 5px;
} 

/*LE MOUTON */

#intro_LeMouton img{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 5%;
    padding-top: 5%;
}

#intro_LeMouton .slider{
    background:url(IMG/Banner_Le\ Mouton.png) no-repeat center center; 
    background-size: cover;
    width:100%;
    height:600px;
}
#intro_LeMouton div{
    padding-top:2%;
    padding-bottom: 2%;
}
#intro_LeMouton div p{
    font-family: poppins, sans-serif;
    color: #2667BF;
    font-weight: 300;
    font-size: 1em;
}

.fondo_azul{
    background-color: #EEF4FB;
    padding-top: 20%;
    padding-bottom: 20%;
}


#Modelos_Mochilas img{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Modelos_Mochilas h2{
    font-family: poppins, sans-serif;
    color: #2667BF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 1.3em;
    padding: 20px;
}

.informacion_LeMouton{
    font-family: poppins, sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #2667BF;
    padding-top: 5%;    
}

#fotoGigante img{
display: none;
}

#Frase{
    padding-bottom: 5%;
    padding-top: 5%;
}

#Frase h3{
    font-family: PlayFair display, sans-serif;
    color: #2667BF;
    font-size: 1.1em;
    width: 80%;
    font-weight: 100;
    padding-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}

#Frase p{
    font-family: poppins, sans-serif;
    color: #2667BF;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#RedesSociales{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5%;
}
#RedesSociales img{
    width: 20%;
    padding:2%;  
}
.boton_VerMas_LeMouton{
    text-align: center;
    padding-bottom: 25%;
    padding-top:15%;
}

.boton_VerMas_LeMouton a{
    text-decoration: none;
    font-family: poppins, sans-serif;
    color: #2667BF;
    font-weight: 500;
    background-color: #EEF4FB;
    padding:4% 10% 4% 10%;
    border: 1px solid #2667BF;
    border-radius: 5px;
}


/*HERBIVORE*/

.Introduccion_Herbivore{
    WIDTH: 100%;
    position: relative;
}

.Introduccion__content_herbivore{
    background: url(IMG/Banners_Herbivore_Artboard\ 1\ copy.png) no-repeat center center;
    background-size: cover;
    min-height: 800px;
    Width: 100%;
}
.Introduccion_Herbivore h1{
    font-family: poppins, sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: 700;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.Introduccion_Herbivore h2{
    font-family: poppins, sans-serif;
    font-size: 1.2em;
    color: #E68A98;
    font-weight: 500;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.fondo_rosado{
    background-color: #F5E9EE;
}

#informacion_Herbivore p{
    font-family: poppins, sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #E68A98;
    padding-top: 10%;
}
.subtitulo_Herbivore h2{
    font-family: poppins, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    color:#E68A98;
    padding-top:10%;
}

#Wireframes_Herbivore{
    display: block;
}

.wireframes__celular_Herbivore{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.Herbivore_Desktop {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    padding-bottom: 10%;
}

.subtitulo_Desktop h2{
    font-family: poppins, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    color: #E68A98;
    padding-top: 10%;
    padding-bottom: 10%;

}

.boton_VerMas_Herbivore{
    text-align: center;
    padding-bottom: 15%;
    padding-top:15%;
}

.boton_VerMas_Herbivore a{
    text-decoration: none;
    font-family: poppins, sans-serif;
    color: #E58A98;
    font-weight: 500;
    background-color: #F5E9EE;
    padding:4% 10% 4% 10%;
    border: 1px solid #E58A98;
    border-radius: 5px;
}

#footer_Herbivore{
    border-top: 1px solid #E58A98;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#footer_Herbivore img{
    padding-left: 5%;

}
/*CONTACTO*/

.fondo_contacto{
    background-color: #8085BF;
    width: 100%;
    padding:0;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Contact_Me h1{
    font-family: PlayFair Display, sans-serif;
    color: #EDEEFA;
    font-size: 2.5 em;
}

#Contact_Me h2{
    font-family: Poppins, sans-serif;
    color: #EDEEFA;
    font-size: 0.8em;
    font-weight: 200;
}

#Contact_Me p{
    display: none;
}






@media screen and (max-width: 767px) {

    .nav {
        background: #EDEEFA;
        height: 83vh;
        right: -500px;
        max-width: 320px;
        position: fixed;
        top: 0;
        transition: right 1.5s ease-in-out;
        width: 100%;
        z-index: 2;
    }

    .menu-open .nav {
        right: 0;
    }

    .nav__item {
        border-bottom: 1px solid #EDEEFA;
        color:#404A9A;
        font-family: poppins, sans-serif;
        font-weight: 300;
        display: block;
        font-size: 1.25rem;
        padding: .5rem 1rem;
        text-decoration: none;
    }
}


@media screen and (min-width:768px){
    .menu {
        display: none;
    }

.js-closeMenu{display: none;}

header nav{
    display: flex;
    float:right;
}

header nav ul{
    display: flex;
}

    header nav ul li{
        list-style: none;
        margin-top: 10px;
        
    }
    header nav a{
        font-family: poppins, sans-serif;
        text-decoration: none;
        color: #404A9A;
        font-weight: 300;
        font-size: 1em;
        padding-left: 100px;
        }
     header a:hover{
        font-weight: 700;
    }

    #About {
        background: url(IMG/silueta_meme-03.svg) right bottom no-repeat block;
        height: 100%;
    }

    #About h1{
        font-size: 4em;

    }
    #About h2{
        font-size: 2em;
        font-weight: 100;
        line-height: 1;
    }

    /*PROYECTOS*/
    #Mejores_Proyectos p{
        display:block;
    }

    
    #Mejores_Proyectos h2{
        font-family: poppins, sans-serif;
        color: #404A9A;
        text-align: center;
        font-weight: 700; 
        font-size: 2.5em;
        padding-top: 10%;
        padding-bottom: 10%;
    
    }
    #Mejores_Proyectos h3{
        font-family: poppins, sans-serif;
        color: #404A9A;
        text-align: center;
        font-weight: 700;  
        font-size: 2.5em;
        padding: 2% 5%;   
    }
    #Mejores_Proyectos h4{
        font-family: poppins, sans-serif;
        color: #404A9A;
        font-weight: 400;
        font-size: 1.7em;
        padding: 2% 5%;
    }
    #Mejores_Proyectos p{
        font-family: poppins, sans-serif;
        color: #404A9A;
        font-weight: 100;
        padding: 2% 5% ;
        display:none;
    }
    .celular__proyectos{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
    
    img .button{
        margin: auto;
        width: 10px;
    }
    .button_holder{
        text-align: center;
        width: 15%;
        margin-left: auto;
        margin-right: auto;
    }
    



    /*LE MOUTON */
    #intro_LeMouton img{
        width: 20%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 5%;
    }

    #intro_LeMouton .slider{
        height: 350px;
    }
    #Modelos_Mochilas{
        display: flex;
        background-color: #EEF4FB;
        padding-top: 8%;
        padding-bottom: 5%;
    }

    #fotoGigante{
        background-color: #EEF4FB;
    }
    #fotoGigante img{
        display: block;
        width:92%;
        margin-left: auto;
        margin-right: auto;
    }
    #Frase h3{
        font-family: PlayFair display, sans-serif;
        color: #2667BF;
        font-size: 1em;
        width: 52%;
        font-weight: 100;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        line-height: 2em;
    }
    
    #Frase p{
        font-family: poppins, sans-serif;
        color: #2667BF;
        font-weight: 300;
        font-size: 0.8em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2%;
    }


/*SPACE TRAVEL*/


/*HERBIVORE*/
.Introduccion_Herbivore h1{
    font-family: poppins, sans-serif;
    font-size: 2em;
    color: #FFFFFF;
    font-weight: 700;
    padding-top:0;
    padding-left: 5%;
    padding-right: 5%;
}
.Introduccion_Herbivore h2{
    font-family: poppins, sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: 300;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}


.fondo_celeste h2{
    font-family: poppins, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    color: #404A9A;
    padding-top: 5%;
}


#informacion_Herbivore p{
    font-family: poppins, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: #E68A98;
    padding-top: 5%;
}
#Wireframes_Herbivore h3{
    font-family: poppins, sans-serif;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    color:#E68A98;
}

#Wireframes_Herbivore{
    padding-top: 10%;
}

}


@media screen and (min-width:992px) {
    #About {
        background: url(IMG/silueta_meme-03.svg) right bottom no-repeat;
    }

    #About img{
        display:block;
        width: 40%;
    }



/*ABOUT*/
#About h1{
    color: #404A9A;
    font-size: 4em;
    padding-top: 15%;
    padding-bottom:1%;
}
#About h2{
    Color:#F6AAB6;
    font-size: 3.12em;
    font-weight: 200;
}
#About p{
    font-family: Poppins, sans-serif;
    color: #404A9A;
    display: block;
    width: 50%;
    font-weight: 100;
}

.columna_padre{
    display: flex;
    height:100%;
    min-height: 150px;
}
.columna_1{
    width: 60%;
    min-width: 1000px;
}
.columna_2{
    width:100%;
    min-width: 310px;

}


#Mejores_Proyectos .proyecto{
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
    margin-bottom: 5%;
    display: block;
}

#Mejores_Proyectos h2{
    text-align: center;
    font-weight: 700; 
    font-size: 1.7em;
    padding-top: 3%;
    padding-bottom: 3%;

}
#Mejores_Proyectos h3{
    text-align: left;
    font-size: 1.7em;
    font-weight: 700;  
    padding: 2% 2%;
}
#Mejores_Proyectos h4{
    font-weight: 400;
    font-size: 1.5em;
    padding: 0% 2%;
    text-align: left;
    width: 90%;
}
#Mejores_Proyectos p{
    font-size: 1em;
    font-weight: 100;
    padding: 0% 2%;
    width: 90%;
    display: block;
}
.celular__proyectos{
    width: 60%;
}

.button img{
    width: 40px;
    position: relative;
    display: flex;
    left: 0;
    
}
.button_holder{
    text-align: center;
    position: absolute;
    left: 10%;


}



    /*SPACE TRAVEL*/

    .wrapper__logo .logo__trabajos{
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .Introduccion__content {
        background: url(IMG/Banner_SpaceTravel.png) no-repeat center center;
        background-size: cover;
        min-height: 500px;
    }

    .Introduccion__content .wrapper {
        display: flex;
    }

    .Introduccion h1{
        font-family: poppins, sans-serif;
        font-size: 2.5em;
        color: #F79439;
        font-weight: 700;
        padding-top: 15%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
    
    }
    .Introduccion h2{
        font-family: poppins, sans-serif;
        font-size: 1.5em;
        color: white;
        font-weight: 300;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
    }

    .Introduccion img{
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 5% 0% 5% 0%;
    }

    #informacion p{
        font-family: poppins, sans-serif;
        font-size: 1.2em;
        font-weight: 100;
        color: #404A9A;
        padding-top: 2%; 
        width: 70%;
        text-align: center;   
        margin-left: auto;
        margin-right: auto;
    }



.fondo_celeste{
     background-color: #EDEEFA;
    margin-bottom:5%;
    }
    
.fondo_celeste h2{
    font-family: poppins, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    color: #404A9A;
    padding-top: 3%;
    padding-bottom: 0;
    }

#Wireframes{
    padding-top: 15%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.wireframes__celular{
    margin-left: auto;
    margin-right: auto;
}

#Wireframes{
    padding-top: 0;
    padding-bottom: 0;
}
#Wireframes h3{
    font-family: poppins, sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    text-align: center;
    color: #404A9A;
    padding-top: 5%;
    padding-bottom: 15%;
}

#Wireframes_HiFi{
    display:flex;
}

.Version_Desktop{
    display: flex;
}

.Desktop img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.boton_VerMas{
    text-align: center;
    padding-bottom: 5%;
}
.boton_VerMas a{
    text-decoration: none;
    font-family: poppins, sans-serif;
    color: #404A9A;
    font-weight: 500;
    background-color: #EDEEFA;
    padding:1% 4% 1% 4%;
    border: 1px solid #404A9A;
    border-radius: 5px;
} 
/*FOOTER*/
#footer{
    border-top: 1px solid #404A9A;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#footer img{
    padding-left: 3%;
}

/*HERBIVORE*/



.Introduccion_Herbivore h1{
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 10%;
    text-align: left;
}
.Introduccion_Herbivore h2{
    font-size: 1.5em;
    color: #E68A98;
    font-weight: 300;
    text-align: left;
    width: 60%;
}


#informacion_Herbivore p{
    font-size: 1.2em;
    font-weight: 100;
    padding-top: 2%; 
    padding-bottom: 2%;
    width: 70%;
    text-align: center;   
    margin-left: auto;
    margin-right: auto;
}
#Wireframes_Herbivore{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top:0;
}

.wireframes__celular_Herbivore{
    margin-left: auto;
    margin-right: auto;
}


.Herbivore_Desktop {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 10%;
}

.boton_VerMas_Herbivore{
    text-align: center;
    padding-bottom: 5%;
    padding-top:5%;
}

.boton_VerMas_Herbivore a{
    text-decoration: none;
    font-family: poppins, sans-serif;
    color: #E58A98;
    font-weight: 500;
    background-color: #F5E9EE;
    padding:1% 4% 1% 4%;
    border: 1px solid #E58A98;
    border-radius: 5px;
}
#footer_Herbivore{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#footer_Herbivore img{
    padding-left: 3%;
}

/*CONTACT ME*/
#Contact_Me {
    background: url(IMG/silueta_meme_contacto.svg) right bottom no-repeat;
    height: 100%;
}

#Contact_Me img{
    display:block;
    width: 40%;
}



/*ABOUT*/

.fondo_contacto{
    background-color: #8085BF;
    width: 100%;
    padding:0;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   margin-bottom:5%;
}

#Contact_Me h1{
color: #EDEEFA;
font-size: 4em;
padding-top: 15%;
padding-bottom:1%;
}
#Contact_Me h2{
Color:#EDEEFA;
font-size: 1.9em;
font-weight: 200;
}

#Contact_Me p{
    font-family: poppins, sans-serif;
    color: #EDEEFA;
    width: 60%;
    font-weight: 100;
}


/*LE MOUTON*/

#intro_LeMouton img{
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
}
#intro_LeMouton .slider{
    background:url(IMG/Banner_Le\ Mouton.png) no-repeat center center; 
    background-size: cover;
    width:100%;
    min-height:600px;
}

#intro_LeMouton div p{
    font-weight: 300;
    font-size: 1.2em;
    width:70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.fondo_azul{
    padding-top: 0;
    padding-bottom: 5%;
}

.informacion_LeMouton{
    font-size: 1.2em;
    font-weight: 100;
    padding-top: 5%;  
    width:70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

#Frase{
    padding-bottom: 2%;
    padding-top: 2%;
}

#Frase h3{
    font-size: 1.5em;
    width: 80%;
    padding-top: 5%;
}

#Frase p{
    font-weight: 300;
    font-size: 1.2em;
}
#RedesSociales{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5%;
}
#RedesSociales img{
    width: 8%;
}

.boton_VerMas_LeMouton{
    padding-bottom: 5%;
    padding-top:0;
}

.boton_VerMas_LeMouton a{
    font-weight: 500;
    padding:1% 4% 1% 4%;
    border-radius: 5px;
}


    
}